# build output
build/
out/

# cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# vscode
.vscode/settings.json

# binaries
*.exe
*.dll
*.lib
*.a

# compiled objects
*.o
*.obj
*.lo
*.slo